<form name="form" novalidate>
 <div>
  <div class="widget-body no-padding">
   <div class="smart-form">
    <fieldset>
     <div class="clearfix">
      <div class="col-xs-1"></div>
      <div
        class="col-xs-10"
        ddlinput
        widget-form="form"
        widget-name="site"
        ng-model="sample_event"
        widget-label="Site"
        widget-required="true"
        widget-choices="choices.sites"
      >
      </div>
     </div>

     <div class="clearfix">
      <div class="col-xs-1"></div>
      <div
        class="col-xs-10"
        ddlinput
        widget-form="form"
        widget-name="management"
        ng-model="sample_event"
        widget-label="Management"
        widget-required="true"
        widget-choices="choices.managements"
      >
       </div>
     </div>

     <div class="clearfix">
       <div class="col-xs-1"></div>
       <div
        class="col-xs-10"
        dateinput
        widget-form="form"
        widget-required="true"
        widget-name="sample_date"
        ng-model="sample_event"
        widget-label="Sample date"
        widget-help=""
        widget-format="yy-mm-dd"
        widget-mask="9999-99-99"
      >
      </div>
     </div>

     <div class="clearfix">
      <div class="col-xs-1"></div>
      <div
        textareainput
        class="col-xs-10"
        widget-form="form"
        widget-name="notes"
        ng-model="sample_event"
        widget-label="Notes"
        widget-required="false"
      >
      </div>
     </div>
    </fieldset>
   </div>
  </div>
 </div>
</form>