<div class="row">
  <article class="col-sm-12">
    <div jarvis-widget id="wid-id-protocol-edit3" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" >
      <header>
        <h2>Observations</h2>
      </header>
      <div class="note help-text">Use Tab to duplicate observation, use Enter to add row</div>
      <div>
        <div class="widget-body no-padding">
          <obs-habitat-complexity-list
            obs-habitat-complexitys="record.data.obs_habitat_complexities"
            transect-length-surveyed="record.data.benthic_transect.len_surveyed"
            interval-size="record.data.interval_size"
            is-disabled="isDisabled"
          ></obs-habitat-complexity-list>
        </div>
      </div>
    </div>
  </article>
</div>