
<div class="clearfix">
  <div
    class="col-xs-5"
    ddlinput
    widget-disabled="isDisabled"
    widget-form="form"
    widget-name="visibility"
    ng-model="record.data[sampleUnit]"
    widget-label="Visibility"
    widget-required="false"
    widget-choices="choices.visibilities"
  >
    <validations>
      <input-validation-alert
        identifier="visibility"
        identifier-validations="record.validations.results.visibility"
      ></input-validation-alert>
    </validations>
  </div>
  <div class="col-xs-1"></div>
  <div
    class="col-xs-5"
    ddlinput
    widget-disabled="isDisabled"
    widget-form="form"
    widget-name="current"
    ng-model="record.data[sampleUnit]"
    widget-label="Current"
    widget-required="false"
    widget-choices="choices.currents"
  >
    <validations>
      <input-validation-alert
        identifier="current"
        identifier-validations="record.validations.results.current"
      ></input-validation-alert>
    </validations>
  </div>
</div>
<div class="clearfix">
  <div
    class="col-xs-5"
    ddlinput
    widget-disabled="isDisabled"
    widget-form="form"
    widget-name="relative_depth"
    ng-model="record.data[sampleUnit]"
    widget-label="Relative depth"
    widget-required="false"
    widget-choices="choices.relativedepths"
  >
    <validations>
      <input-validation-alert
        identifier="relative_depth"
        identifier-validations="record.validations.results.relative_depth"
      ></input-validation-alert>
    </validations>
  </div>
  <div class="col-xs-1"></div>
  <div
    class="col-xs-5"
    ddlinput
    widget-disabled="isDisabled"
    widget-form="form"
    widget-name="tide"
    ng-model="record.data[sampleUnit]"
    widget-label="Tide"
    widget-required="false"
    widget-choices="choices.tides"
  >
   <validations>
      <input-validation-alert
        identifier="tide"
        identifier-validations="record.validations.results.tide"
      ></input-validation-alert>
    </validations>
  </div>
</div>
<div
  textareainput
  widget-disabled="isDisabled"
  widget-form="form"
  widget-name="notes"
  ng-model="record.data.sample_event"
  widget-label="Notes"
  widget-required="false"
>
  <validations>
    <input-validation-alert
      identifier="notes"
      identifier-validations="record.validations.results.notes"
    ></input-validation-alert>
  </validations>
</div>