<section class="input-widget text-input">
  <label class="label">
    {{ widgetLabel }}
    <span ng-if="widgetRequired === true" class="required" title="Required"> *</span>
  </label>
  <label class="textarea" ng-switch="hasFocus()" ng-class="{false: 'state-error', true: ''}[widgetForm[widgetName].$pristine || widgetForm[widgetName].$valid]">
    <textarea
      ng-switch-when="true"
      rows=3
      name="{{ widgetName }}"
      ng-model="ngModel[widgetName]"
      ng-required="widgetRequired"
      ng-disabled="widgetDisabled"
      ng-class="{false: '', true: 'disabled'}[widgetDisabled]"
      autofocus
      focusinput
    /></textarea>
    <textarea
      ng-switch-default
      rows=3
      name="{{ widgetName }}"
      ng-model="ngModel[widgetName]"
      ng-required="widgetRequired"
      ng-disabled="widgetDisabled"
      ng-class="{false: '', true: 'disabled'}[widgetDisabled]"
      focusinput
    /></textarea>
  </label>
  <div class="note">{{ widgetHelp }}</div>
  <div class="note note-error">
    <span ng-if="widgetRequired === true" class="error ng-cloak" ng-show="widgetForm[widgetName].$pristine==false && widgetForm[widgetName].$error.required==true"> {{ widgetLabel }} is required.</span>
  </div>
  <div class="note note-error ng-cloak">
    <span
      class="error ng-cloak"
      ng-repeat="(error, obj) in widgetForm[widgetName].$validations.errors"
    > {{obj.message}}</span>
    <span
      class="warn ng-cloak"
      ng-repeat="(warning, obj) in widgetForm[widgetName].$validations.warnings"
    > {{obj.message}}</span>
    <div ng-transclude="validations"></div>
  </div>
</section>