<div>
  <checkboxinput
    widget-name="showFishFamilies"
    ng-model="data"
    widget-disabled="isDisabled"
    widget-label="Use subset of fish families for fish belt sample units in this project"
    widget-change=""
  />

  <div ng-if="fishFamilyLookup && data.showFishFamilies">
  	<autocompleteinput
      widget-label=""
      widget-placeholder="Search for a fish family"
      widget-disabled="isDisabled"
      widget-name="selectedFishFamily"
      ng-model="data"
      widget-required="false"
      widget-choices="fishFamilyChoices"
      widget-callback="addFishFamily()"
    />
    <div class="dd">
      <ul class="dd-list">
        <li class="dd-item" ng-show="fishFamilyLookup[fishFamily].name" ng-repeat="fishFamily in project.data.settings.fishFamilySubset track by $index"
          ><span class="cursor-pointer" ng-click="removeFishFamily($index)"><i class="fa fa-times"/></span> {{ fishFamilyLookup[fishFamily].name }} </li>
      </ul>
    </div>
  </div>
</div>