<div class="smart-form">
  <table class="table table-bordered obs-table" style="border-collapse: separate;">
    <thead>
      <tr>
        <th></th>
        <th>Interval<span class="required"> *</span></th>
        <th>Habitat Complexity Score<span class="required"> *</span></th>
        <th></th>
      </tr>
    </thead>
    <tbody ng-if="obsHabitatComplexitys.length > 0">
      <tr
        ng-repeat="obs in obsHabitatComplexitys track by $index"
        ng-click="startEditing($event, $index)"
				class="cursor-pointer"
				ng-class="{true: '', false: 'editable-row'}[editableObservationIndex !== $index]"
      >
        <td
          class="observation__row-number readonly-cell"
          ng-class="{'obs-edit-del-padding': editableObservationIndex === $index}"
        >
          <div><small>{{($index + 1)}}</small></div>
        </td>
        <td
          class="readonly-cell"
          ng-class="{'obs-edit-del-padding': editableObservationIndex === $index}"
        >
          <input
            type="hidden"
            ng-model="obs"
          >
          <div>{{obs.interval | null_value}}m</div>
        </td>

        <!--
          READ SECTION
        -->
        <td class="readonly-cell" ng-if="editableObservationIndex !== $index">
          <span>{{obs.score | matchchoice:choices.habitatcomplexityscores | null_value}}</span><obs-validation-tooltip
          validations="[
            {
              'isValid': validator.requiresvalue(obs.score) === true,
              'message': 'Required'
            }
          ]"
        >
      </obs-validation-tooltip>
        </td>

        
        <!--
          WRITE SECTION
        -->

        <td ng-if="editableObservationIndex === $index">
          <div
            class="complexity-score"
            ddlinput
            widget-disabled="isDisabled"
            widget-form="form"
            widget-name="score"
            ng-model="obs"
            widget-mode="single"
            widget-choices="choices.habitatcomplexityscores"
            widget-required="true"
            widget-required-hide="true"
            ng-keydown="navInputs($event, obs, true, $index)"
          ></div>
          <obs-attribute-validation
            widget-name="'score'"
            ng-model="obs.score"
            requiresval
          ></obs-attribute-validation>
        </td>
        <td
          ng-class="{'obs-edit-del-padding': editableObservationIndex === $index}"
        >
          <btn
            icon="fa-times"
            classes="btn-xs btn-danger"
            tab-index="-1"
            click="deleteRow(obs)"
            is-disabled="isDisabled"
          ></btn>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4" class="text-left">
          <a ng-if="isDisabled !== true" href="" ng-click="addRow()"><i class="fa fa-plus"></i> Add row</a>
          <span ng-if="isDisabled" ><i class="fa fa-plus"></i> Add row</span>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
