<header id="header">
    <div id="logo-group">
        <span id="logo"> <img src="styles/img/logo.png" alt="SmartAdmin"> </span>
    </div>
</header>
<div id="main" role="main">

    <div id="content" class="container">
        <div class="row">
            <h1>&nbsp;</h1>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-md-offset-4 col-lg-offset-4">
                <div class="well no-padding">
                    <form action="#/login" id="forgot-form" method="POST" class="smart-form client-form">
                        <header>
                            Forgot Password
                        </header>

                        <fieldset>
                            <section>
                                <label class="label">To reset your password, please verify your e-mail address</label>
                                <label class="input"> <i class="icon-append fa fa-envelope"></i>
                                    <input type="text" ng-required name="email" ng-model="email" autofocus>
                                </label>
                            </section>
                        </fieldset>
                        <footer>
                            <button type="button" ng-click="send()" class="btn btn-primary">
                                Send
                            </button>
                            <div ng-show="msg" class="success">{{msg}}</div>
                            <div ng-show="error" class="error">{{error}}</div>
                        </footer>
                    </form>
                </div>
            </div>
            </div>
    </div>
</div>
