<!-- MAIN CONTENT -->
<div id="content">
  <div class="row">
    <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
  </div>
  <!-- widget grid -->
  <section widget-grid id="widget-grid">
    <div class="row">
      <article class="col-sm-12">
        <div jarvis-widget id="normal-table-widget" data-widget-editbutton="false">
          <header>
            <h2></h2>
          </header>
          <div>
            <div class="widget-body">
              <div smart-include="app/project/partials/forms/contact.form.tpl.html">
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </section>
</div>
