<!-- MAIN CONTENT -->
<div id="content">

  <div class="row fixed">
    <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
  </div>
  <section widget-grid id="widget-grid-managements">
    <save-alert form="form"></save-alert>
    <!-- Edit Management -->
    <div class="row">
      <article class="col-sm-12">
        <div jarvis-widget id="wid-id-management" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
          <header>
            <!-- <span class="widget-icon"> <i class="fa fa-edit"></i> </span> -->

          </header>

          <div class="widget-body">
            <div smart-include="app/project/partials/page-inputs/management-input.tpl.html">
            </div>
          </div>
      </article>
      </div>
    </div>
  </section>
</div>
