<!-- MAIN CONTENT -->
<div id="content">
  <div class="row">
    <!-- <big-breadcrumbs items="['Collect', 'Records']" icon="table"
    class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs> -->
    <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
  </div>
  <!-- widget grid -->
  <section widget-grid id="widget-grid">
    <div class="row">
      <article class="col-sm-12">
          <div>
            <div class="widget-body">
              <div
                ng-if="tableConfig != null && resource != null"
                paginatedtable
                resource="resource"
                config="tableConfig"
                control="tableControl"
              ></div>
            </div>
          </div>
      </article>
    </div>
  </section>
</div>
