<div id="content">
  <div class="row">
    <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
  </div>
  <section widget-grid id="widget-grid">
    <div class="row">
      <article class="col-sm-12">
          <div>
              <validation-duplicate-sites-warning>
                <resolve-duplicate-obj
                  table="projectObjectsTable"
                  controller="ResolveDuplicateSitesCtrl"
                ></resolve-duplicate-obj>
              </validation-duplicate-sites-warning>
              <div class="widget-body">
                <div
                    paginatedtable
                    resource="resource"
                    config="tableConfig"
                    control="tableControl"
                ></div>
              </div>
          </div>
      </article>
    </div>

    <div class="row" ng-if="isOnline">
      <article class="col-sm-12">
        <div jarvis-widget id="map-widget" data-widget-editbutton="false">
          <header>
            <h2></h2>
          </header>
          <div class="widget-body map-body">
            <mapbox-gl
              records="tableControl.records"
              mapopts="mapopts"
              >
            </mapbox-gl>
          </div>
        </div>
      </article>
    </div>
  </section>
</div>
