<div>
  <div class="col-md-5 font-size-16">
    <div>Transfer unsubmitted samples units from</div>
    <div style="padding: 10px 0; "><strong>{{fromOwner.profile_name}}</strong></div>
  </div>
  <div class="col-md-2 text-center">
    <i class="fa fa-arrow-circle-right font-size-60"></i>
  </div>
  <div class="col-md-5">
    <div class="smart-form" >
      <ddlinput
        display-attribute="profile_name"
        ng-model="data"
        widget-choices="ownerChoices"
        widget-label="Transfer to:"
        widget-required="true"
        widget-name="toOwner"
        widget-required-hide="true"
      ></ddlinput>
    </div>
  </div>
  <div class="clearfix"></div>
</div>