<div class="table-toolbar">
  <div class="btn-group">
    <label type="button" class="btn btn-default" ng-click="config.toolbar.backUp()"><i class="fa fa-save"></i> Backup</label>


    <div class="btn-group">
      <label type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil"></i>
        Method <span class="caret"></span>
      </label>
    
      <ul class="dropdown-menu">
        <li class="select-all-filter">
          <div class="checkbox">
            <label> 
              <input type="checkbox" ng-model="config.toolbar.allMethods" ng-change="config.toolbar.selectAllMethods(config.toolbar.allMethods)">Select All
            </label>
          </div>
        </li>
        <li ng-repeat="item in config.toolbar.methodTypes track by item.choice">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="item.selected" ng-change="config.toolbar.filterMethod(item)">
              {{item.name}}
            </label>
          </div>
        </li>
      </ul>
    </div>

    <div class="btn-group">
      <label type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-table"></i>
        Status <span class="caret"></span>
      </label>
    
      <ul class="dropdown-menu">
          <li class="select-all-filter">
              <div class="checkbox">
                <label> 
                  <input type="checkbox" ng-model="config.toolbar.allStatus" ng-change="config.toolbar.selectAllStatus(config.toolbar.allStatus)">Select All
                </label>
              </div>
            </li>
        <li ng-repeat="item in config.toolbar.statusTypes track by item.choice">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="item.selected" ng-change="config.toolbar.filterStatus(item)">
              {{item.name}}
            </label>
          </div>
        </li>
      </ul>
    </div>
      
    
  </div>
  <div class="filter-records-wrapper" ng-hide="control.hideFilteredCount()"> 
    <span ng-if="!control.records">Filtering</span>
    <span class="filter-count" ng-if="control.records"> <i class="fa fa-filter"></i>{{control.getFilteredRecordsCount()}}</span>
    Records
  </div>
    
</div>
