<div class="table-toolbar">
  <div class="btn-group">
    <label ng-if="!config.toolbar.isDisabled()" type="button" class="btn btn-default" ng-click="config.toolbar.newManagement()">
      <i class="fa fa-plus"></i> New MR</label>
    <label ng-if="!config.toolbar.isDisabled()" offlinehide type="button" class="btn btn-default" ng-click="config.toolbar.copyManagements()">
      <i class="fa fa-copy"></i> Copy MRs from other projects</label>
    <label offlinehide type="button" class="btn btn-default" ng-click="config.toolbar.exportMRs()">
      <i class="fa fa-copy"></i> Export MRs</label>
  </div>
</div>