
<div>
    <div class="btn-group">
      <div class="filter-wrapper" ng-hide="control.noAppliedFilters()">
        <div class="filter-records" > 
          <span ng-if="!control.records">Filtering</span>
          <i class="fa fa-filter" ng-if="control.records"></i>
          <span class="filter-count" ng-if="control.records">{{control.getFilteredRecordsCount()}}</span>
          Records
        </div>
        <div class="clear-filter" ng-if="control.records" ng-click="config.toolbar.clearFilters();"><i class="fa fa-remove"></i></div>
      </div>
    </div>
  <div class="btn-group right-position">
    <div class="btn-group">
      <label
        ng-if="!config.toolbar.isDisabled()"
        type="button" class="btn btn-default" ng-click="config.toolbar.newManagement()"><i class="fa fa-plus"></i> New MR</label>
    </div>
    <div class="btn-group">
      <label
        ng-if="!config.toolbar.isDisabled()"
        offlinehide type="button" class="btn btn-default" ng-click="config.toolbar.copyManagements()"><i class="fa fa-copy"></i> Copy MRs from other projects</label>
    </div>
    <div class="btn-group">
      <label offlinehide type="button" class="btn btn-default" ng-click="config.toolbar.exportMRs()"><i class="fa fa-download"></i> Export MRs</label>
    </div>
  </div>
</div>