<div class="smart-form">
  <table class="table table-bordered obs-table" ng-if="isReady">
    <thead>
      <tr>
        <th></th>
        <th>Benthic attribute<span class="required"> *</span></th>
        <th>Growth form</th>
        <th>Length<span class="required"> *</span></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        ng-repeat="obs in obsBenthicLits track by $index"
        ng-click="startEditing($event, $index)"
        class="cursor-pointer"
        ng-class="{true: '', false: 'editable-row'}[editableObservationIndex !== $index]"
      >

        <!--
          READ SECTION
        -->

        <td class="readonly-cell observation__row-number">
          <div>
            <small>{{::$index + 1}}</small>
          </div>
        </td>

        <td class="readonly-cell" ng-if-start="editableObservationIndex !== $index">
          <span class="text-left">{{::obs.attribute | matchchoice:benthicAttributeChoices:"name":notFoundMessage}} </span><obs-validation-tooltip
              validations="[
                {
                  'isValid': validator.requiresvalue(obs.attribute) === true,
                  'message': 'Required'
                }
              ]"
            >
          </obs-validation-tooltip>
        </td>

        <td class="readonly-cell">
          {{obs.growth_form | matchchoice:choices.growthforms}}
        </td>

        <td ng-if-end class="readonly-cell">
          <span>{{obs.length | null_value}}</span><obs-validation-tooltip
            validations="[
              {
                'isValid': validator.requiresvalue(obs.length) === true,
                'message': 'Required'
              },
              {
                'isValid': validator.integervalue(obs.length) === true,
                'message': 'Value must be a whole number.'
              },
              {
                'isValid': validator.minvalue(obs.length, 0) === true,
                'message': 'Value must be greater than 0'
              }
            ]"
        >
        </td>
        
        <!--
          WRITE SECTION
        -->

        <td ng-if-start="editableObservationIndex === $index">

          <autocompleteinput
            widget-disabled="isDisabled"
            widget-form="form"
            widget-name="attribute"
            ng-model="obs"
            widget-required="true"
            widget-required-hide="true"
            widget-lazy-choices="getBenthicAttributes"
            widget-new-record-label="Propose New Benthic Attribute..."
            widget-new-record-modal-config="modalConfig"
            widget-modal-trigger="modalTrigger(obs)"
            drop-up-enabled="true"
            widget-no-match-message="{{notFoundMessage}}"
          >
            <appendaddon >
              <a
                tabindex="-1"
                target="_blank"
                ui-sref="app.reference.benthicattributes.benthicattribute({id: obs.attribute})"
              >
                <i class="fa fa-book"></i>
              </a>
            </appendaddon>
          </autocompleteinput>
          <obs-model-validation-tooltip
            requiresval
            ng-model="obs.attribute"
            class="obs-edit-validation-tooltip"
          ></obs-model-validation-tooltip>
        </td>
        <td>
          <div
            ddlinput
            widget-disabled="isDisabled"
            widget-form="form"
            widget-name="growth_form"
            ng-model="obs"
            widget-required="false"
            widget-choices="choices.growthforms"
            ng-keydown="navInputs($event, obs, false, $index)"
          ></div>
        </td>
        <td ng-if-end>
          <div
            numberinput
            widget-disabled="isDisabled"
            widget-form="form"
            widget-name="length"
            id="length_{{getHashkey(obs)}}"
            ng-model="obs"
            widget-required="true"
            widget-required-hide="true"
            widget-append="cm"
            widget-validators="minvalue='0'"
            ng-keydown="navInputs($event, obs, true, $index)"
          ></div>
          <obs-model-validation-tooltip
            requiresval
            minvalue='0'
            ng-model="obs.length"
            class="obs-edit-validation-tooltip"
          ></obs-model-validation-tooltip>
        </td>
        <td
          ng-class="{'obs-edit-del-padding': editableObservationIndex === $index}"
        >
          <btn
            icon="fa-times"
            classes="btn-xs btn-danger"
            tab-index="-1"
            click="deleteRow(obs)"
            is-disabled="isDisabled"
          ></btn>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td class="text-left" colspan="2">
          <a class="addRow" ng-if="isDisabled !== true" href="" ng-click="addRow()"><i class="fa fa-plus"></i> Add row</a>
          <span ng-if="isDisabled" ><i class="fa fa-plus"></i> Add row</span>
        </td>
        <td>
          <strong
            ng-show="observation_calcs.total"
          >Total cm</strong>
        </td>
        <td>
          <strong ng-show="observation_calcs.total">{{observation_calcs.total}}</td></strong>
        <td>&nbsp;</td>
      </tr>
      <tr ng-show="observation_calcs.total">
        <td colspan="5" class="text-left">
            <obs-benthic-summary
              class="pull-right observation-summary"
              observations="obsBenthicLits"
              benthic-attributes-lookup="benthicAttributesLookup"
              length-attr="length"
            ></obs-benthic-summary>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
