<div class="smart-form">
  <table class="table table-bordered obs-table" style="border-collapse: separate;" ng-if="isReady">
    <thead>
      <tr>
        <th></th>
        <th>Fish name<span class="required"> *</span></th>
        <th>Size<span class="required"> *</span></th>
        <th>Count<span class="required"> *</span></th>
        <th>Biomass (kg/ha)</th>
        <th></th>
      </tr>
    </thead>
    <tbody ng-if="obsBeltFishes.length > 0">
      <tr
        ng-repeat="obs in obsBeltFishes track by obs.$$uid"
        class="cursor-pointer"
        ng-click="startEditing($event, $index)"
        ng-class="{'editable-row': editableObservationIndex !== $index}"
      >
        <!--
          READ SECTION
        -->
        <td class="readonly-cell" ng-if-start="editableObservationIndex !== $index">
          <div>
            <small>{{::$index + 1}}</small>
          </div>
        </td>

        <td class="readonly-cell">
          <span class="readonly-cell text-left">{{::obs.fish_attribute | matchchoice:fishAttributeChoices:"display_name":notFoundMessage}} </span><obs-validation-tooltip
              validations="[
                {
                  'isValid': validator.requiresvalue(obs.fish_attribute) === true,
                  'message': 'Required'
                }
              ]"
            >
          </obs-validation-tooltip>
        </td>
        
        <td class="readonly-cell">
          <span ng-if="fishsize_choices[fishsizebin] && obs.size < 50">{{obs.size | matchchoice:fishsize_choices[fishsizebin] | null_value}} </span>
          <span ng-if="!fishsize_choices[fishsizebin] || obs.size >= 50">{{obs.size | null_value}} </span>
          <obs-validation-tooltip
              validations="[
                {
                  'isValid': validator.requiresvalue(obs.size) === true,
                  'message': 'Required'
                },
                {
                  'isValid': validator.minvalue(obs.size, 0) === true,
                  'message': 'Value must be greater than 0'
                },
                {
                  'isValid': validator.decimalvalue(obs.size, 5, 1) === true,
                  'message': 'Value must have a maximum of 5 digits and a maximum of 1 decimal.'
                }
              ]"
            >
          </obs-validation-tooltip>
        </td>
        
        <td ng-if-end class="readonly-cell">
          <span>{{obs.count | null_value}} </span><obs-validation-tooltip
          validations="[
            {
              'isValid': validator.requiresvalue(obs.count) === true,
              'message': 'Required'
            },
            {
              'isValid': validator.integervalue(obs.count) === true,
              'message': 'Value must be a whole number.'
            },
            {
              'isValid': validator.minvalue(obs.count, 0) === true,
              'message': 'Value must be greater than 0'
            }

          ]"
        >
        </td>

        <!--
          WRITE SECTION
        -->
        <td
          style="padding-top: 20px; width: 0.5em"
          ng-if-start="editableObservationIndex === $index">
          <div style="opacity: 0.75;"><small>{{::($index + 1)}}</small></div>
        </td>
        <td>
          <autocompleteinput
            widget-disabled="isDisabled"
            widget-form="form"
            widget-name="fish_attribute"
            id="attr_{{getHashkey(obs)}}"
            class="autocomplete__propose-species"
            ng-model="obs"
            display-attribute="display_name"
            widget-required="true"
            widget-required-hide="true"
            widget-lazy-choices="getFishAttributes"
            widget-new-record-label="Propose New Species..."
            widget-new-record-modal-config="modalConfig"
            widget-modal-trigger="modalTrigger(obs)"
            drop-up-enabled="true"
            widget-no-match-message="{{notFoundMessage}}"
          >
            <appendaddon>
              <a
                ng-click="navReferenceLink(obs.fish_attribute)"
              >
                <i class="fa fa-book"></i>
              </a>
            </appendaddon>
          </autocompleteinput>
          <obs-model-validation-tooltip
            requiresval
            ng-model="obs.fish_attribute"
            class="obs-edit-validation-tooltip"
          ></obs-model-validation-tooltip>
        </td>
        <td ng-if="!fishsize_choices[fishsizebin]">
          <div
            numberinput
            widget-disabled="isDisabled"
            widget-form="form"
            widget-name="size"
            id="size_{{getHashkey(obs)}}"
            ng-model="obs"
            widget-required="true"
            widget-required-hide="true"
            widget-append="cm"
            widget-validators="decimal='5:1',minvalue='0'"
            ng-keydown="navInputs($event, obs, false, $index)"
          ></div>

          <obs-model-validation-tooltip
            requiresval
            minvalue='0:t'
            decimal="5:1"
            ng-model="obs.size"
            class="obs-edit-validation-tooltip"
          ></obs-model-validation-tooltip>
        </td>
        <td ng-if="fishsize_choices[fishsizebin].length > 0">
          <div
            ng-if="!obs.size || obs.size < 50"
            ddlinput
            widget-disabled="isDisabled"
            widget-form="form"
            widget-name="size"
            id="size_{{getHashkey(obs)}}"
            ng-model="obs"
            widget-append="cm"
            widget-required="true"
            widget-required-hide="true"
            widget-choices="fishsize_choices[fishsizebin]"
            widget-float-value="true"
            ng-keydown="navInputs($event, obs, false, $index)"
          ></div>
          <div
            ng-if="obs.size >= 50"
            numberinput
            widget-disabled="isDisabled"
            widget-form="form"
            widget-name="size"
            widget-help="Enter estimated size (eg: 51)"
            id="size_{{getHashkey(obs)}}"
            ng-model="obs"
            widget-required="true"
            widget-required-hide="true"
            widget-append="cm"
            widget-validators="decimal='5:1',minvalue='0'"
            ng-keydown="navInputs($event, obs, false, $index)"
          ></div>

          <obs-model-validation-tooltip
            requiresval
            minvalue='0:t'
            decimal="5:1"
            ng-model="obs.size"
            class="obs-edit-validation-tooltip"
          ></obs-model-validation-tooltip>
        </td>

        <td ng-if-end>
          <div
            numberinput
            widget-disabled="isDisabled"
            widget-form="form"
            widget-name="count"
            ng-model="obs"
            widget-required="true"
            widget-required-hide="true"
            ng-keydown="navInputs($event, obs, true, $index)"
            widget-validators="integer,minvalue='0'"
          ></div>
          <obs-model-validation-tooltip
            integer
            requiresval
            minvalue='0:t'
            ng-model="obs.count"
            class="obs-edit-validation-tooltip"
          ></obs-model-validation-tooltip>
        </td>
        <td>
          <biomass 
            class="input-align"
            obs="obs"
            biomassval="biomassvalues[$index]"
            transect-len-surveyed="transectLenSurveyed"
            transect-width="widthValueLookup[transectWidth]"
          ></biomass>
        </td>
        <td
          ng-class="{'obs-edit-del-padding': editableObservationIndex === $index}"
        >
          <btn
            icon="fa-times"
            classes="btn-xs btn-danger"
            tab-index="-1"
            click="deleteRow(obs)"
            is-disabled="isDisabled"
          ></btn>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6" class="text-left">
          <a class="addRow" ng-if="isDisabled !== true" href="" ng-click="$event.stopPropagation();addRow()"><i class="fa fa-plus"></i> Add row</a>
          <span ng-if="isDisabled" ><i class="fa fa-plus"></i> Add row</span>
        </td>
      </tr>
      <tr>
        <td colspan="6" class="text-left">
            <obs-belt-fish-summary
              class="pull-right observation-summary"
              observations="obsBeltFishes"
              transect-len-surveyed="transectLenSurveyed"
              transect-width="transectWidth"
            ></obs-belt-fish-summary>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
