<div class="page-footer">
    <div class="row">
        <div class="col-xs-6 col-sm-6">
            <div class="txt-color-white inline-block">
                <appinfo></appinfo>
                <span class="padding-10">
                  <offline-indicator></offline-indicator>
                  <offline-control></offline-control>
                  <app-update></app-update>
                </span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 text-right hidden-xs" >
          <div class="txt-color-white inline-block">
            <a href="/docs/MERMAID User Documentation 2021-09-28.pdf" target="_blank" class="padding-10 link">Help</a>
            <a href="https://datamermaid.org/terms-of-service" target="_blank" offlinehide class="padding-10 link">Terms</a>
            <a ui-sref="fullapp.contact" offlinehide class="padding-10 link">Contact</a>
            <!--            <a href="#" class="padding-10 link">API</a>-->
            <a href="https://datamermaid.org/changelog" target="_blank" offlinehide class="padding-10 link">Changelog</a>
            <a href="https://datamermaid.org/teams/" target="_blank" offlinehide class="padding-10 link">Credits</a>
          </div>
        </div>
    </div>
</div>
